body {
  font-family: "Open Sans Regular", sans-serif;
  color: #000;
  background-color: #fff;
  min-width: 320px;
  font-size: 16px;
  height: 100%; }

ul, li {
  list-style: none; }

h2 {
  font-size: 30px;
  margin: 60px 0 50px; }

a {
  color: #000 !important; }

.container-fluid {
  outline: 1px solid red; }

.container {
  outline: 1px solid blue; }

.col-md-5 {
  /*  outline: 1px solid blue;*/ }

/*==========  TOP_MENU BEGIN  ==========*/
.navbar {
  margin: 30px 0; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  text-decoration: underline;
  outline: none;
  border: none; }

.navbar-toggle {
  position: relative;
  padding: 15px 12px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: #e4e0e0 !important;
  border: none;
  border-radius: 30%; }
  .navbar-toggle .icon-bar {
    background-color: #000 !important; }

.main-top-menu li {
  margin: 0 25px; }
.main-top-menu li:hover {
  box-shadow: none; }

/*main-top-menu*/
.top__logo {
  text-transform: uppercase; }
  .top__logo .top__logo-name {
    font-size: 22px; }
  .top__logo .top__logo-defin {
    font-size: 10px;
    letter-spacing: 3px; }

.back__call a {
  font-size: 14px;
  text-decoration: underline;
  padding-bottom: 0 !important;
  padding-top: 0 !important; }
.back__call a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff url(../img/phone.png) 0 0 no-repeat;
  width: 65px;
  height: 55px;
  margin-right: 15px; }

.top__adress {
  font-size: 14px; }

#menu-top li {
  margin: 0 10px; }

/*==========  TOP_SLIDER END =============*/
.slider-content {
  padding: 50px 0 110px; }

.bg-slide-1 {
  background: #fff url(../img/bg-top.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.object__slider-name {
  font-family: "Open Sans Light", sans-serif; }
  .object__slider-name .object__slider-name--obj {
    font-size: 60px; }
  .object__slider-name .object__slider-name--descript {
    margin-top: 30px;
    font-size: 24px; }

.form {
  background-color: rgba(139, 168, 185, 0.7);
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .form b {
    display: inline-block;
    margin: 40px 0 30px;
    font-size: 18px; }
  .form input[type="text"],
  .form input[type="tel"],
  .form input[type="submit"] {
    width: 300px;
    color: #000;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    line-height: 36px; }
  .form input[type="submit"] {
    border: none;
    background-color: #ffbe02;
    margin-bottom: 60px; }
  .form ::-webkit-input-placeholder {
    color: #000; }
  .form ::-moz-placeholder {
    color: #000; }
  .form :-moz-placeholder {
    color: #000; }
  .form :-ms-input-placeholder {
    color: #000; }

#object__slider {
  position: relative; }
  #object__slider .owl-nav {
    margin: 0;
    color: #37ace5 !important; }
    #object__slider .owl-nav .owl-prev,
    #object__slider .owl-nav .owl-next {
      display: inline-block;
      position: absolute;
      bottom: 0%;
      font-size: 86px;
      color: #f9fbfc; }
    #object__slider .owl-nav .owl-prev {
      left: 4%; }
    #object__slider .owl-nav .owl-next {
      right: 4%; }
    #object__slider .owl-nav .owl-prev:hover,
    #object__slider .owl-nav .owl-next:hover {
      color: #ffbe02;
      transition: all 0.5s; }
  #object__slider .owl-dots {
    position: absolute;
    bottom: 5%;
    left: 50%; }
  #object__slider .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin: 15px 5px; }
  #object__slider .owl-dot.active {
    background-color: transparent;
    border: 1px solid #f7f7f7;
    border-radius: 50%; }

/*==========  TOP_SLIDER END =============*/
/*==========  TOP_MENU END =============*/
/*==========  SERVICE BEGIN =============*/
.service__items img {
  width: 100%; }

.item {
  border: 0.5px solid #fff; }

.item-position {
  cursor: pointer;
  position: relative;
  text-align: center; }

.back {
  display: none;
  position: absolute;
  top: 45%;
  color: #fff;
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 0 50px; }

.item > .item-position:hover {
  background-color: rgba(1, 9, 14, 0.71); }

.item > .item-position:hover .front {
  opacity: 0.4; }

.item > .item-position:hover .back {
  display: block; }

/*==========  SERVICE END =============*/
/*==========  LEASE BEGIN =============*/
.lease {
  margin-bottom: 70px; }

.lease-item-1 a:nth-child(1):before {
  content: '';
  margin: 0 auto;
  display: block;
  background: #fff url(../image/lease/1.png) 0 0 no-repeat;
  width: 200px;
  height: 180px; }

.lease-item-2 a:nth-child(1):before {
  content: '';
  margin: 0 auto;
  display: block;
  background: #fff url(../image/lease/2.png) 0 0 no-repeat;
  width: 200px;
  height: 180px; }

.lease-item-3 a:nth-child(1):before {
  content: '';
  margin: 0 auto;
  display: block;
  background: #fff url(../image/lease/3.png) 0 0 no-repeat;
  width: 200px;
  height: 180px; }

.lease-item-4 a:nth-child(1):before {
  content: '';
  margin: 0 auto;
  display: block;
  background: #fff url(../image/lease/4.png) 0 0 no-repeat;
  width: 200px;
  height: 180px; }

/*==========  LEASE END =============*/
/*==========  WE_WORK BEGIN =============*/
.we_work {
  background-color: #fdce47; }

.work-items {
  position: relative; }

.work-items ul {
  padding: 0;
  margin: 0; }

.work-items ul:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: 20; }

.work-items > ul > li {
  position: relative;
  width: 210px;
  float: left;
  margin-right: 30px;
  display: block; }

.work-items li {
  z-index: 103; }
  .work-items li span {
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    font-size: 18px;
    color: #000;
    padding: 10px 17px;
    margin-bottom: 15px; }
  .work-items li img {
    z-index: 102; }
  .work-items li p {
    margin-top: 25px; }

.work-items li:nth-last-child(1) {
  margin-right: 0; }

.work-items li:after {
  content: '';
  display: block;
  position: absolute;
  top: 12%;
  left: 50%;
  height: 256px;
  width: 1px;
  background-color: #fff;
  z-index: -1; }

/*==========  WE_WORK END =============*/
/*=========Modal window begin=========*/
#myModal .modal-header {
  background-color: #32b0eb; }
#myModal .modal-name {
  margin-bottom: 20px; }
#myModal .modal-h4 {
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF !important;
  font-weight: 800; }
#myModal label {
  display: block;
  font-family: "Open Sans Light", sans-serif;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 300; }
#myModal input {
  max-width: 100%;
  padding: 5px 20px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  outline: none;
  border: 1px solid #cecece;
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #004481 !important;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  #myModal input ::-webkit-input-placeholder {
    color: #004481; }
  #myModal input ::-moz-placeholder {
    color: #004481; }
  #myModal input :-moz-placeholder {
    color: #004481; }
  #myModal input :-ms-input-placeholder {
    color: #004481; }
#myModal input:focus {
  border: 1px solid #004481; }

/*=========Modal window end===========*/
/*==========  Media Screen`s  ==========*/
/* Large Devices, Wide Screens */
/*=============================================*/
/*=============================================*/
/*=============================================*/
/* Medium Devices, Desktops */
/*=============================================*/
@media (min-width: 768px) {
  .test {
    display: none !important; } }
/* Small Devices, Tablets */
/*=============================================*/
/* Extra Small Devices, Phones */
/*=============================================*/
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
