
@import "_top-menu.scss";
@import "_service.scss";
@import "_lease.scss";
@import "_we-work.scss";
@import "_benefits.scss";
@import "_example.scss";
@import "_bottom-form.scss";
@import "_reviews.scss";
@import "_footer.scss";
@import "_modal-window.scss";
@import "_media.scss";
@import "contacts/_contacts";



body {
  font-family: "Open Sans Regular", sans-serif;
  color: #000;
  background-color: #fff;
  min-width: 320px;
  font-size: 16px;
  height: 100%;
}

ul, li {
  list-style: none;
}

h2 {
  font-size: 30px;
  margin: 60px 0 50px;
}

a {
  color: #000 !important;
}

/*.container-fluid {
  outline: 1px solid red;
}

.container {
  outline: 1px solid blue;
}*/
